.navbar{
    background-color: aqua;
    border-radius: 10px;
}
.navbar li{
    color: blueviolet;
    float: left;
    margin: 15px 20px;
    list-style-type: none;
    border-radius: 5px;
    font-size: large;
}
.navbar ul{
    overflow: auto;
}
.navbar input{
    border-radius: 10px;
    border: solid black;
    padding: 10px 10px;
}
.navbar li a:hover{
    color: red;
    text-decoration: dashed;
}
.Search{
    float: right;
    margin: 15px 20px;
    padding: 5px 10px;
}